<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your application has been submitted!
    </h1>
    <p>If there's a match, we will make an email introduction.</p>
    <p><strong><%= position.title %></strong></p>
  </body>
</html>
