<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You matched with job application!
    </h1>
    <p>You match with a new candidate for the position <%= position.title %></p>
    <p><%= applicant.full_name %></p>
    <p><%= applicant.email %></p>
  </body>
</html>
