<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You matched with Drawbotics!
    </h1>
    <p>We would like to move forward with your application.</p>
    <p><strong><%= position.title %></strong></p>
    <hr>
    <p>Dear <%= applicant.first_name %>, thanks for your application and interest in Drawbotics!
      I'd be happy to set up a first video call to get to know each other.
    </p>
    <p>
      Please let me know when you would prefer to meet.
    </p>
    <p>
      Best, <%= recruiter.first_name %></p>
  </body>
</html>
