You matched with Drawbotics!

We would like to move forward with your application.
<%= position.title %>
----------------------------------------------------------------
Dear <%= applicant.first_name %>, thanks for your application and interest in Drawbotics!
I'd be happy to set up a first video call to get to know each other.

Please let me know when you would prefer to meet.

Best, <%= recruiter.first_name %></p>
